/* Unauthorized container */
.container_unauthorized
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100% + 34px);
  margin-bottom: 0;

  background: #151719;
  border-radius: 15px;
}
.container_unauthorized .title
{
  font-size: 35px;
  font-weight: 650;

  margin-bottom: 10px;
}
.container_unauthorized .subtitle
{
  font-weight: 400;
  font-size: 15px;

  margin-bottom: 35px;
}
.container_unauthorized a
{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;

  background: #E40915;
  border-radius: 8px;

  color: #F1F2F3;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 110px;
  height: 41px;

  transition: .15s;
}
.container_unauthorized a:hover
{
  background: #ff000e;
}

/* Authorized container */
.container
{
  position: relative;
}

/* Title styles */
.title
{
  font-size: 26px;
  font-weight: 600;

  margin-bottom: 15px;
}

/* Liked top styling */
.liked_top
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.liked_info
{
  display: flex;
  gap: 20px;

  font-size: 14px;
  font-weight: 400;
  color: #F1F2F3;

  opacity: .85;
}
/* Clear All History button styling */
.clear_liked_btn
{
  position: relative;

  display: flex;
  align-items: end;

  color: #F1F2F3;
  font-weight: 500;
  font-size: 13.5px;

  opacity: .85;
  gap: 8px;

  transition: .15s;
}
.clear_liked_btn::after
{
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  display: block;
  content: "";
}
.clear_liked_btn:hover
{
  opacity: 1;
}
.clear_liked_btn img
{
  width: 17px;
}

/* Separator styling */
.separator
{
  border-bottom: 2px solid #2a2d31;
  margin: 8px auto 15px;
}

/* Liked videos container */
.liked_container
{
  width: 100%;
  height: calc(100vh - 189px);

  overflow-y: auto;
}

/* Recommended video item */
.liked_item_container
{
  display: flex;
  align-items: center;

  gap: 10px;
}
.liked_item_container .index
{
  opacity: .6;
}
app-video-item
{
  flex-grow: 1;
}
